﻿<h2>Contact My Pie Shop</h2>

<p>If you have any questions, please don't hesitate to get in touch. Click below to send us an email.</p>

<email address="info@@mypieshop.com" content="Contact us"></email>